// COLORS
$color-primary: #333;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$roboto-font:'Roboto', sans-serif;
$primary-color: #0b549f;
$light-blue: #0f5ca9;
$text-color:#585858;
