.deals {
    padding: 40px 0;
}


.deals__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.deals__desc {
    margin-bottom: 40px;
}


.deals__title {
    text-transform: capitalize;
    font-size: 2.6rem;
    font-weight: 600;
    color: #222;
    text-align: center!important;
}

.deals__inbox {
    width: 370px;
    height: 370px;
    overflow: hidden;
    position: relative;
}

.deals__list {
    list-style-type: none !important; 
}


.deals__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: -10%;
    left: 38%;
}
.deals__heart-btn {
    padding: 10px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
    opacity: 0;

    &:hover {
        background-color: #105caa;
    }

    &:hover .bx-heart {
        color: #fff;
    }
}

.deals__item-box:hover .deals__heart-btn{
    transform: translateY(-50px);
    opacity: 1;
}

.deals__item-box:hover .deals__search-btn{
    transform: translateY(-50px);
    opacity: 1;
}

.bx-heart {
    color: #666;
    font-size: 20px;
}
.deals__search-btn {
    padding: 10px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    margin-right: 10px;
    transition: all 0.4s ease;
    opacity: 0;

    &:hover {
        background-color: #105caa;
    }
    &:hover .bx-search {
        color: #fff;
    }
}

.bx-search {
    color: #666;
    font-size: 20px;
}


.deals__item-box {
    width: 370px; 

    &:hover .deals__imgbox {
        background-image: url('../../images/phone1.2.jpg');
    }
}

.deals__item:nth-child(2) .deals__item-box .deals__imgbox {
    background-image: url('../../images/phone2.jpg');
}
.deals__item:nth-child(2):hover .deals__item-box .deals__imgbox {
    background-image: url('../../images/phone3.jpg');
}


.deals__item:nth-child(3) .deals__item-box .deals__imgbox {
    background-image: url('../../images/phone3.jpg');
}

.deals__item:nth-child(3):hover .deals__item-box .deals__imgbox {
    background-image: url('../../images/phone3.2.jpg');
}

.deals__imgbox {
    width: 370px;
    height: 370px;
    background-image: url('../../images/phone1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}


.del-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    z-index: 20;
}

.del-info__title {
    margin: 15px 0 8px;
}
.del-info__link {
    @include link(#333);
    font-size: 13px;
    font-weight: 500;
    color: #444;
}

.money {
    margin-bottom: 20px;
}
.money__black {
    color: #222;
    font-size: 13px;
    font-weight: 700;
}
.money__not {
    color: #e0e0e0;
    font-size: 10px;
    text-decoration: line-through;
}
.del-info__btn {
    background: #f0f0f0;
    padding: 11.5px 35px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &:hover .bx-check {
        color: #fff;
    }
    &:hover .del-info__btn-name {
        color: #fff;
    }
    &:hover {
        background: #105caa;
        box-shadow: 0 0 5px #0003;
    }
}

.bx-check {
    font-size: 18px;
    color: #444;
}

.del-info__btn-name {
    margin-left: 7px;
    color: #444;
    font-size: 13px;
    font-family: $roboto-font;
}


.deals__inbox-list {
    list-style-type: none;
    position: absolute;
    top: 18%;
    right: 15px;
}
.deals__inbox-item {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow:  2px 2px 0px 0px #FF1414;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 13px;
}
.deals__inbox-num {
    font-size: 13px;
    color: #222;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 0;
    position: relative;

    &::after {
        content: '';
        width: 50%;
        height: 1.8px;
        background-color: rgb(209, 207, 207);
        display: block;
        position: absolute;
        bottom: 0;
        left: 25%;
    }
}

.deals__inbox-day {
    margin-top: 3px;
    font-family: $roboto-font;
    font-size: 10px;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;

}


// modal


// .modal-dialog {
//  max-width: 800px;
// }

.modal__item {
    padding-bottom: 40px;
}

.modal__img {
    width: 430px;
    height: 430px;
    object-fit: cover;
}

.modal__item2 {
    height: 500px;
    padding: 40px 30px 40px 30px;
    overflow-x: hidden; 
    overflow-y: scroll; 
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #105caa;
    border-radius: 10px;
  }


.carousel-item {
    width: 100%;
    height: 100%;
}
.modal__item {
    padding-bottom: 50px;
}

.modal__img {
    width: 430px;
    height: 430px;
    object-fit: cover;
}

.bxs-left-arrow-alt {
    width: 40px;
    height: 50px;
    font-size: 30px;
    background-color: #222;
    color: #f0f0f0;
    border-radius: 5px;
    padding: 10px 6px;
}
.bxs-right-arrow-alt {
    width: 40px;
    height: 50px;
    font-size: 30px;
    background-color: #222;
    color: #f0f0f0;
    border-radius: 5px;
    padding: 10px 6px;
}

.modal__close{
    color: #666;
    font-size: 8px;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: all 0.6s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: rotate(180deg);
    }
}

.modal__title {
    font-weight: 700;
    font-size: 1.1rem;
    color: #222;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.modal__money {
    padding: 10px 0;
    margin-bottom: 20px;
}
.modal__cheap {
    font-size: 18px;
    font-weight: 700;
    color: #105caa;
    line-height: 1;
}

.modal__exp {
    margin-left: 20px;
    color: #e0e0e0;
    font-size: 15px;
    font-weight: 800;
    text-decoration-line: line-through;
}

.modal__star-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modal__stars {
    display: flex;
    width: 115px;
}

.bxs-star {
    color: #eeb012;
}
.modal__view {
    display: block;
    font-size: 12px;
}

.modal__stock {
    display: flex;
    padding: 10px 0;
}

.stock__title {
    color: #444;
    letter-spacing: .1px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.stock__text {
    font-size: 11px;
    font-weight: 500;
    color: #6bb853;
    text-transform: uppercase;
}

.modal__sku {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.sku__title {
    color: #444;
    letter-spacing: 0.1px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.sku__number {
    color: #eeb012;
    letter-spacing: 0.1px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal__collection {
    display: flex;
    padding: 5px 0;
}

.collection__title {
    color: #444;
    letter-spacing: 0.1px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.collection__text {
    color: #666;
    letter-spacing: .1px;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;

}
.collection__link {
    @include link(#666);
}
.modal__tags {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.tags__title {
    color: #444;
    letter-spacing: 0.1px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.tags__text {
    color: #666;
    letter-spacing: .1px;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}

.tags__link {
    @include link(#666);
}

.modal__text {
    color: #666;
    letter-spacing: .1px;
    font-size: 13px;
    font-weight: 400;
}

.modal__size {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.size__text {
    font-size: 10px;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.size__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.size__item {
    margin-right: 10px;
}

.size__btn {
    border: 1px solid #ebebeb;
    min-width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    text-align: center;
    float: left;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.4s ease;

    &:hover {
        background-color: #ebebeb;
    }
    &:focus {
        background-color: #ebebeb;
    }
}

.size-active {
    background-color: #ebebeb;
}



.modal__numbers {
    margin-bottom: 20px;
}

.numbers__text {
    font-size: 10px;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.numbers__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.numbers__btns-box {
    display: flex;
    width: 108px;
}

.numbers__btn {
    border: 1px solid #ebebeb;
    background-color: #fff;
    &:hover {
        color: #105caa;
    }
}
.numbers__input {
    padding: 5px;
    width: 50px;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;

    &:focus {
        outline: none;
    }
    
}
.numbers__link-box {
    display: flex;
    align-items: center;
}

.numbers-heart {
    color: #105caa;
    font-size: 14px
}
.numbers__link {
    @include link(#666);
    letter-spacing: 0.1px;
    font-size: 10px;
    font-weight: 700;
    margin-left: 5px;
    text-transform: uppercase;
}

.add__btn-hover {
    transition: all 0.2s ease;
}
.add__btn {
    width: 100%;
    z-index: 10;
    position: relative;
    color: #222;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 0;
    border: 1px solid #666;
    margin-bottom: 15px;
    transition: all 0.2s ease;

    &:hover {
        border: 1px solid $primary-color;
        color: #fff;
    }
}
.add__btn--hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $primary-color;
    z-index: -1;
    transition: all 0.2s ease;
}
.add__btn--hover:hover::before{
    height: 100%;
    transition: all 0.2s ease;
}

.add__btn--primary {
    color: #fff;
    background-color: #222;
    border: 1px solid #222;

    &:hover {
        background-color: $primary-color;
        transition: all 0.4s ease;
        border: 1px solid $primary-color;
    }

}

.add {
    margin-bottom: 10px;
}

.modal__main {
    padding: 20px 15px;
}


@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
    .deals__list {
        margin: 0;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .deals__item:nth-child(3) {
        display: none;
    }

    .modal {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .deals__item:nth-child(2) {
        display: none;
    }
}

