.site-header{
  background-color: $light-blue;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.header__search{
  width: 600px;
  height: 46px;
  padding: 0 10px 0 20px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span{
    font-size: 18px;
    color: #195fab;
  }
}
.header__input{
  width: 100%;
  border: none;
  outline: none;
  color: #162950;
  line-height: 1.2;
  font-size: 14px;
}
.header__input::placeholder{
  color: #cccbcb;
  font-size: 14px;
}
.header__btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #cbd9ec;
  font-size: 28px;
  margin: 0px 4px;

    &--store{
      position: relative;
      span{
        position: absolute;
        width: 19px;
        height: 19px;
        font-size: 14px;
        background-color:#fd6666;
        border-radius: 50%;
        top: -12px;
        left: 12px;
      }
    }
}
.nav__list{
  @include flex-center;
  @include list-unstyled;
}
.nav{
  background-color: $primary-color;
  border-top: 1px solid #2e6cb2;
}
.nav__item{
  padding: 20px;
  &--active{
    background-color: $light-blue
  }
}
.nav__link{
  @include link(#fff);
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
 
}