.shipping{
  padding: 40px 20px;
}
.shipping__item{
  position: relative;
  height: 300px;
}
.test-shine {
  width: 100%;
  height: 100%;
  background-color: #337bb2;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
    
}
.shine-first{
  background-image: url('../../images/shippinh-img1.jpeg');
}
.shine-second{
  background-image: url('../../images/shipping-img2.jpeg');
}
.shine-third{
  background-image: url('../../images/shipping-img3.jpeg');
}

.test-shine:after {
  content: "";
  position: absolute;
    top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.test-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.shipping__content{
  padding: 100px 150px 50px 150px;
}
.test-shine:active:after {
  opacity: 0;
}
.shipping__title{
  font-size: 14px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  margin: 13px 0 9px;
}
.shipping__text{
  font-size: 13px;
  font-weight: 400;
  color: #666;
  font-family: $roboto-font;
  text-align: center
}
.shipping__desc{
  @include flex-center();
  flex-direction: column;
  padding: 0 50px;
}
.vinova__shine{
  height: 300px;
  background-image: url('../../images/vinova\ .jpeg');
  max-width: 100%;
}
@media screen and (max-width:992px){
  .shipping__content{
    padding: 100px 50px 50px 50px;
  }
  .shipping__desc{
    padding: 0 20px;
  }
  .shipping__title{
    text-align: center;
  }
}
@media screen and (max-width:768px){
  .shipping__content{
    padding: 100px 50px 50px 50px;
  }
  .vinova__shine{
    height: 150px;
  }
}
@media screen and (max-width:576px){
  .shipping__item{
    margin-bottom: 20px;
  }
  .shipping__item--second{
    height: 180px;
  }
  .shipping__desc{
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .shipping__title{
    text-align: center;
  }
 
}
